@import '../../../styles/index.scss';

@include desktop {
   .content.price-list {
      .child {
         @include base-card(auto, auto, 35px, 20px 0, 10px 25px);
         @include flexible(row, center, space-between);
         cursor: pointer;
         font-size: 14px;

         .name {
            @include text-cut(1);
         }

         &:hover {
            animation: link--weight .5s forwards;

            .name {
               @include text-cut(none);
            }
         }

         &.active {
            background: $green;

            // outline: 4px solid $green;
            // outline-offset: -4px;
            .name {
               @include text-cut(none);
            }
         }
      }
   }
}
