@include desktop {
   .content.advantages {
      @include flexible(row, stretch, space-between);
      @include full-screen-content();

      .content__text {
         @include h1-p-format();
         width: 40%;
      }

      .content__items {
         width: 60%;

         .row.odd {
            padding-right: 15%;
         }

         .row {
            @include flexible(row, center, flex-end);
            flex-shrink: 1;
            flex-basis: auto;
            flex-grow: 1;

            .card {
               @include base-card(140px, 215px, 20px, 15px 10%, 25px);
               @include flexible(column, flex-start, flex-start);

               &:first-child {
                  margin-left: 0;
               }

               &:last-child {
                  margin-right: 0;
               }

               .cd__media {
                  @include base-card-media-img(100%, calc(50%), 15px, 0, 0);
                  @include flexible(row, center, center);
                  border: none;

                  #cd__img {
                     width: 85%;
                     height: auto;
                  }
               }

               .cd__text {
                  font-size: 16px;
                  margin-top: 25px;
               }
            }
         }
      }
   }
}

@include laptop {
   .content.advantages {
      height: 90vh;

      .content__text {
         width: 43%;
      }

      .content__items {
         width: 57%;

         .row.odd {
            padding-right: 10%;
         }

         .row {
            .card {
               @include base-card(120px, 200px, 20px, 15px 10%, 25px);
            }
         }
      }
   }
}

@include ipad {
   .content.advantages {
      @include flexible(column, stretch, flex-start);
      margin-top: 75px;
      height: 100%;

      .content__text {
         width: 100%;
      }

      .content__items {
         @include flexible(row, center, center);
         width: auto;

         .row.odd {
            padding: 0;
            margin-right: 30px;
         }

         .row {
            @include flexible(row, flex-start, flex-start);

            .card {
               @include base-card(calc(100% - 30px - 40px), 175px, 17px, 15px, 20px);

               .cd__media {
                  @include base-card-media-img(100%, calc(60%), 15px, 0, 0);
                  @include flexible(row, center, center);

                  #cd__img {
                     width: 90%;
                     height: auto;
                  }
               }

               .cd__text {
                  font-size: 14px;
                  margin-top: 15px;
               }
            }
         }
      }
   }
}

@include tablet {
   .content.advantages {
      .content__items {
         display: block;

         .row.odd {
            margin-right: 0;
         }

         .row {
            @include flexible(row, flex-start, space-between);

            .card {
               @include base-card(calc(100% - 30px - 34px), 175px, 15px, 15px, 17px);

               .cd__media {
                  @include base-card-media-img(100%, calc(60%), 15px, 0, 0);

                  #cd__img {
                     width: auto;
                     height: 100%;
                  }
               }

               .cd__text {
                  font-size: 16px;
               }
            }
         }
      }
   }
}

@include mobile {
   .content.advantages {
      .content__text {
         h1 {
            font-size: 36px;
         }
      }

      .content__items {
         display: block;

         .row {
            .card {
               @include base-card(calc(100% - 30px - 34px), 165px, 15px, 15px, 17px);

               .cd__media {
                  @include base-card-media-img(100%, calc(50%), 15px, 0, 0);

                  #cd__img {
                     width: auto;
                     height: 75%;
                  }
               }

               .cd__text {
                  font-size: 16px;
               }
            }
         }
      }
   }
}
