$font-head: 'Montserrat', sans-serif;
$font-body: 'Source Sans Pro', sans-serif;
$black: #281A27;
$purple: #A8A8FF;
$white: #F5F7FE;
$blue: #3A5BF0;
$green: #6BD8BA;
$red: #F13C52;

// additional colors for back gradient
$yellow: #FFFBD2;
$peach: #FFC9C9;
$light-blue: #7DB1FF;

// breakpoints
$breakpoint-xxl: 1920px;
$breakpoint-xl: 1367px;
$breakpoint-lg: 1080px;
$breakpoint-md: 767px;
$breakpoint-sm: 576px;
