@import '../../styles/index.scss';

@include desktop {
   .content.departments.row {
      .card {
         @include reset-link-style($black);
         @include flexible(column, center, space-between);
         height: 220px;
         width: calc(100% / 5);

         .cd__body {
            @include base-card(143px, 143px, 71px, 0, 0);
            @include flexible(row, center, center);

            #cd__img {
               width: 75%;
               height: 75%;
            }
         }

         .cd__title {
            width: auto;
            height: 29px;
            text-align: center;

            p {
               margin: 0;
               padding: 0;
               font-family: $font-head;
               font-weight: 400;
               font-size: 21px;
            }
         }
      }
   }
}

@include laptop {
   .content.departments.row {
      .card {
         height: 200px;
      }
   }
}

@include ipad {
   .content.departments.row {
      .card {
         height: 160px;

         .cd__body {
            @include base-card(100px, 100px, 50px, 0, 0);
         }

         .cd__title {
            p {
               font-size: 16px;
            }
         }
      }
   }
}

@media(max-width: 976px) {
   .content.departments.row {
      .card {
         width: calc(100% / 4);
      }
   }
}

@include tablet {
   .content.departments.row {
      .card {
         height: 140px;

         .cd__body {
            @include base-card(90px, 90px, 50px, 0, 0);
         }

         .cd__title {
            p {
               font-size: 14px;
            }
         }
      }
   }
}

@include mobile {

   .content.departments.row {
      .card {
         height: 150px;
         width: calc(100% / 2);

         .cd__body {
            @include base-card(110px, 110px, 55px, 0, 0);
         }

         .cd__title {
            p {
               font-size: 16px;
            }
         }
      }
   }
}
