@import '../../styles/index.scss';

@include desktop {
   .content.registration-pending.container {
      @include flexible(row, center, center);
      width: 100%;
      height: 60vh;

      .pending-text {
         h1 {
            text-align: center;
            font-size: 24px;
         }
      }
   }
}

@include ipad {
   .content.registration-pending.container {
      margin-top: 25px;
   }
}

@include mobile {
   .content.registration-pending.container {
      margin-top: auto;

      .pending-text {
         h1 {
            font-size: 20px;
         }
      }
   }
}
